doctype html 
html 
 head 
    title Ashish Dance Academy
    block Scripts 
    block style
 body  
    nav#navbar
      ul
          div#logo 
              img(src="/static/logoo/d1.png")
              p AK Dance
          li #[a(href="/") Home ]
          li #[a(href="/") About ]
          li #[a(href="/") Services ]
          li #[a(href="/") Class Info ]
          li #[a(href="/contact") Contact Us ]  

    block content 
    footer#footer
     
     
        | copyright © 2022 AshishDanceAcademy.com  |  All right reserved
        | Designed by Ashish